{% extends "base.html" %}

{% block content %}
{% set redirect = "#overview" %}
{% if page.slug == "getting-started" %}
  {% set redirect = "#quickstart" %}
{% elif page.slug == "queries" %}
  {% set redirect = "#queries" %}
{% elif page.slug == "architecture" %}
  {% set redirect = "#architecture" %}
{% endif %}
<meta http-equiv="refresh" content="0; url=../../{{ redirect }}">
<main class="redirect-shell">
  <p>Redirecting to <a href="../../{{ redirect }}">the main Cortex page</a>.</p>
</main>
{% endblock content %}
